@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --border: .3px solid rgba(0,0,0.1);
    --border-hover: 1px solid rgba(0,0,0.1);
    --color-neutral-0: #070606;
    --color-neutral-10: #010101;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}


section{
    padding: 80px 9%;
}


.home .row .content .btn{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 25px;
    color: #fff;
    background: black;
    font-size: 25px;
    height: 70px;
    width:150px;
}

#videotext a{
    cursor: url("/../img/rsz_cursorclick.png"), auto;
}

.home .row .content .btn:hover{
    background-color: white;
    color: black;
}


.header{
    display: flex;
}
.header .header-2 .header-1{
    display: flex;
}


.header .header-2 .header-1 img{
    width: 225px;
    height: 100px;
    background-color:#11101b;
    align-items: center;
    display: flex;
}
.header .header-1{
    width: 10px;
    height: 20px;
    text-align: center;
    align-items: center;

}


.header .header-2 .icons div, 
.header .header-2 .icons a{
    font-size: 30px;
    margin-left: 12px;
    color: #fefefe;
    cursor: pointer;
    float: left;
}

.header .header-2 .icons div:hover, 
.header .header-2 .icons a:hover{
    transform: scale(1.05);
}

.header .header-2 .icons{
    float: right;
}

.header .header-2{
    font-size: 25px;
    background: #11101b;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;

}

.header .header-2 .menu{
    display: flex;
    margin-left: 100px;
}

.header .header-2 .menu li{
    list-style-type: none;
    display: inline-block;
}

.header .header-2 .menu li a{
    display: inline-block;
    color: #fefefe;
    padding: 10px 25px;
    margin: 0 5px;
    border-radius:  50px;
    transition: 0.2s;
    text-decoration: none;
}

.icons ::placeholder {
    font-size: 23px;
    text-align: center;
}

body{
    height: fit-content;
    position: relative;
    cursor: url("/../img/rsz_1cursor.png"), auto;
}
body a{
    cursor: url("/../img/rsz_cursorclick.png"), auto;
}

.header .header-2 .menu li a.active{
    color: #11101b;
    background: #fefefe;
}

.header .header-2 .menu li a:hover {
    color: #11101b;
    background: #fefefe;
}

.home {
    background-size: cover;
    background-position: center;
    background: transparent;
    backdrop-filter: blur(10px);
}

.home .row .mySwiper a:hover img{
   transform: scale(.9);
}

.home .row .content .video-text-overlay h3:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.home .row .content p{
    font-size: 20px;
    line-height: 2;
    padding: 10px 0;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    width: 70%;
    height: 50%;
    object-fit: cover;
  }

.home .row .content{
    flex-basis: 65%;
}

.home .row .swiper{
    flex-basis: 35%;
}

#background-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
}

.home .row .content .video-text-overlay{
    position: relative;
    z-index: 2;
    width: 60%;
    padding: 100px 100px;
    text-align: center;
}

.video-controls {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 1; /* Đảm bảo nút hiển thị trên video */
}

#toggle-sound-btn {
    background-color: rgba(255, 255, 255, 0.5); /* Màu nền */
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#toggle-sound-btn.sound-on::after {
    content: "Turn Sound Off"; /* Hiển thị nút bật âm lượng */
}


#toggle-sound-btn.sound-off::after {
    content: "Turn Sound On"; /* Hiển thị nút tắt âm lượng */
}
/* ----------------------------------------------------------------------------------------Main------------------------------------------------------------------------------------------ */
.main-content{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-color:#f8f6f0;
    background-size: 300% 300%;
    display: inline-flex;
    flex-direction: column;
}

.main-content .sach{
    margin:10px auto;
    width: 95%;
    height: fit-content;
    /* background-color: #fefefe; */
    border-radius: 20px;
}

.main-content .sach h2{
    margin: 0px auto;
    width: 90%;
    text-indent: 20px;
    line-height: 40px;
    padding: 8px 10px;
    font-size: 30px;
    text-align: center;
    font-family:'Agbalumo';

}

.main-content .topsach{
    margin:30px auto;
    width: 90%;
    height: fit-content;
    background-color: #fefefe;
}

.main-content .topsach h2{
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: 50px;;
    background-color: black;
    color: white;
}

.main-content .topsach .topsach1,
.main-content .topsach .topsach2{
    width: 50%;
    height: fit-content;
    border-right: 1px solid  lightgray;
    float: left;
}

.main-content .topsach .topsach1 p{
    color: #a8a29e;
    font-size: 15px;
}

.main-content .topsach .topsach1 h5{
    color:cornflowerblue;
    font-size: 15px;
}

.topsach2{
    position: absolute;
    transform: translate(-50%, 5%);
    right: -25%;
    padding: 0 10px;
}

.topsach2 .row{
    position: absolute;
}
.sach1, .sach2, .sach3, .sach4, .sach5{
    opacity: 0;
    transition: 0.5s;
}

.topsachhinh1:hover, .topsachhinh2:hover, .topsachhinh3:hover, .topsachhinh4:hover, .topsachhinh5:hover{
    opacity: 0.7;
}

.show{
    opacity: 1;
}

.topsach2 .col-8{
    padding-left: 30px;
    width: 55%;
}
.topsach2 img{
    width: 250px;
    height: auto;
}

.topsach2 p{
    font-size: 15px;
}

.topsach2 h5{
    color: red;
}
.topsach2 video{
    width: 90%;
    position: absolute;
}
#topsachso{
    font-size: 30px;
}
#topsachhinh{
    width: 70px;
    height: 100px;
}

#muiten{
    font-size: 30px;
    color: green;
}

#icon{
    width: 40px;
    height: 40px;
}
#xoagach{
    text-decoration: none;
    
}
#tien{
    color: red;
    font-size: 20px;
}
#lophocmatngu{
    margin: 0 auto;
    width: 100%;
    height: auto;

}
#lhmn{
    width: 100%;
    margin: 0 5px;
    font-size: 18px;
    height: auto;
    background-color: white;
    padding: 10px 23px;
    border: .5px solid #919191;
    border-radius: 10px;
}

#lhmn:hover{
    transform: scale(1.025); 
}

#lhmn img{
    width: 200px;
    height: 300px;
}

.row .col-md-auto video{
    width: 650px;
    height: 400px;
}

#hinhvavideo img{
    width: 300px;
    height: 400px;
}
#hinhvavideo a{
    margin-left: 10px;
}
#hinhvavideo img:hover{
    transform: scale(1.025);
}

#baohanh{
    font-size: 15px;
    width: 1500px;
    height: 150px;
    padding: 30px 0;
}

#baohanh i{
    font-size: 40px;
}
/* <!--------------------------------------------------------------------------------------------footer---------------------------------------------------------------------------------------> */


footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 48px 56px;
}

#footer_contacts h1 {
    margin-bottom: 12px;
}

#footer_social_media {
    display: flex;
    gap: 32px;
    margin-top: 1.5rem;
    justify-content: center;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 20px;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#tiktok {
    background-color: black;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.footer-list h3{
    color: white;
}
.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}


#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 20px;
    font-size: 16px;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 13px;
    padding: 24px;
    font-weight: 100;
    text-align: center;
}




